@media screen and (max-width: 576px) {
  body {
    padding: 0 !important;
    height: 100vh;
  }
  .container {
    margin: 20px;
    height: calc(100vh - 100px);
  }
  .main {
    padding: 0;
  }
  .sidebar {
    position: fixed;
    bottom: 0;
    background-color: var(--accent);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 50px;
    padding: 20px 0;
  }
  .box input {
    font-size: 0.9em;
    color: var(--primary);
    background-color: aqua;
  }
  .box:hover {
    font-size: 1.05em !important;
  }
  .line-1 {
    font-size: 1.8em;
  }
  .content .content-text {
    padding: 10px 0;
    border-left: 0;
    border-top: 1px solid var(--text);
  }
  .scrollbar {
    margin: 0 !important;
  }
}
